node_modules/
.DS_Store

# iOS
ios/App/Pods/
ios/App/build/
ios/App/output/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/Podfile.lock
DerivedData/
*.xcuserstate

# Android
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/.idea/
android/app/release/
